* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 70px;
  line-height: 70px;
  background-color: #EC715F;
}

.heading {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 70px;
}

.nav-list-item {
  font-size: 16px;
  color: #FAFAFA;
  padding: 0 30px;
  display: inline-block;
}

.main-visual {
  height: 650px;
  color: #FAFAFA;
  text-align: center;
  background-image: url(img/mv.png);
  background-size: cover;
}

.main-visual-title {
  font-size: 64px;
  padding-top: 200px;
  margin-bottom: 10px;
}

.main-visual-text {
  font-size: 20px;
}

.portfolio, .profile {
  background-color: #ECEFF1;
  text-align: center;
}

.portfolio-visual {
  width: 920px;
  margin: 0 auto;
}

.portfolio-title, .feature-title, .profile-title {
  position: relative;
  display: inline-block;
  padding-top: 90px;
  font-size: 32px;
  color: #000000;
}

.portfolio-title:before, .feature-title:before, .profile-title:before {
  content: '';
  position: absolute;
  display: inline-block;
  bottom: -8px;
  width: 70px;
  height: 3px;
  left: 25%;
  background-color: #EC715F;
}

.portfolio-text, .feature-text, .profile-text {
  padding: 30px 0;
}

.portfolio-image-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 80px;
}

.portfolio-image-item {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

.portfolio-image-item:nth-child(1) {
  background-image: url(img/sketch.jpg);
}

.portfolio-image-item:nth-child(2) {
  background-image: url(img/websuku.png);
  margin: 0 10px;
}

.portfolio-image-item:nth-child(3) {
  background-image: url(img/write.jpg);
}

.portfolio-image-item:nth-child(4) {
  background-image: url(img/webcamp.png);
}

.portfolio-image-item:nth-child(5) {
  background-image: url(img/talk.jpg);
  margin: 0 10px;
}

.portfolio-image-item:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
}

.feature-visual {
  width: 980px;
  margin: 0 auto;
  text-align: center;
}

.feature-content, .profile-content {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 90px;
}

.feature-content-item {
  width: 320px;
}

.feature-content-item:nth-child(2) {
  margin: 0 10px;
}

i {
  font-size: 60px;
}

.feature-content-title {
  font-size: 20px;
  padding: 10px 0;
}

.feature-content-text {
  font-size: 16px;
  text-align: left;
}

.profile-visual {
  width: 1024px;
  margin: 0 auto;
}

.profile-content-item {
  width: 512px;
}

.profile-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.profile-content-title {
  font-size: 20px;
  margin-bottom: 5px;
  text-align: left;
}

.profile-content-text {
  font-size: 16px;
  text-align: left;
  margin-bottom: 20px;
}

.profile-content-text:last-child {
  margin: 0;
}